@import "burger";

#burger + label {
  z-index: 1;
  }
.nav {
  position: fixed;
  align-items: center;
  background: $white;
  top: 0;
  left: 0;
  width: 100%;
  height: $burgerContainerHeight;
  overflow: hidden;
  transition: .5s;
  @media screen and (min-width: $medium) {
    display: block;
    height: 100%;
    visibility: visible;
    padding-top: 3em;
    width: $navWidth;
  }
      > ul {
        text-align: right;
        position: absolute;
        top: 35%;
        left: 20%;
        right: 0%;
  @media screen and (min-width: $medium) {
    top: 7.5%;
    left: 0%;
  }
        > li > a {
            display: block;
            color: $lightGrey;
          }
        }
    }
    #burger:checked ~ .nav {
      visibility: visible;
      height: 100%;
      transition-delay: 0s;
      > ul {
        > li {
          opacity: 1;
          transition-delay: 0s;
        }
      }
      @media screen and (min-width: $medium) {
    width: $navWidth;
  }
}
.nav__list {
  text-align: right;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50%;
  display: none;
  @media screen and (min-width: $medium) {
    width: auto;
    display: block;
  }
}
#burger:checked ~ .nav .nav__list {
  display: block;
}
.nav__list li {
  margin-bottom: 3em;
  line-height: 1.5em;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media screen and (min-width: $medium) {
    margin-bottom: 1.75em;
  }
}
.nav__list a {
  color: $grey;
  text-decoration: none;
  font-size: 2em;

  &.active {
    color: $black;
  }

  &:hover {
    color: $black;
  }

  @media screen and (min-width: $medium) {
    font-size: 1em;
  }
}
